{% extends "core/base.html" %}{% load static %}{% block content %}
<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-sm-4">
      <a href="{% url 'administracion' %}" class="btn btn-primary"><<</a>
    </div>
    <div class="col-sm-8">
      <h1>Registro de Nueva Adopción</h1>
    </div>
  </div>
</div>
<hr />
<div class="container-sm w-50 mt-5 mb-5 bordered border border-primary">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2 mb-2">
    <a
      href="{% url 'agregarAdoptante' %}"
      class="btn btn-success mt-3 mb-3 md-end"
      >Agregar Adoptante</a
    >
  </div>
  <form method="post">
    {% csrf_token %}{{ formAdopcion }}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2 mb-2">
      <button type="submit" class="btn btn-success mt-3 mb-3 md-end">
        Aceptar
      </button>
    </div>
  </form>
</div>
{% endblock content %}
