{% extends "core/base.html" %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/administracion.css' %}" />
<link rel="stylesheet" href="{% static 'css/modales.css' %}" />


<div class="container text-center mt-5">
    {% if messages.is_error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% if messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}


    <div class="container-sm mt-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem">
                        <img src="{% static 'img/mascota_none.png'%}" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Ingresar nueva mascota</h5>

                            <a href="#" class="btn btn-primary nueva_mascota">Aceptar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem">
                        <img src="{% static 'img/adopcion.jpg'%}" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Nueva adopción</h5>
                            <a href="#" class="btn btn-primary">Aceptar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem">
                        <img src="{% static 'img/modmascota.png'%}" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Modificar mascota</h5>
                            <a href="#" class="btn btn-primary modificar_mascota">Aceptar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="modal">
    <div class="modal_container text-center">
        <form method="post" id="mascotasForm">
            {% csrf_token %} {{mascotasForm}}
            <button type="submit" class="modal_close">Aceptar</button>
        </form>
    </div>
</section>


<section class="mod_mascota modal">
    <div class="modal_container text-center">
        {% csrf_token %} {{filtro}}

    </div>
</section>




<script src="{% static 'js/modales.js' %}"></script>

{% endblock %}
</section>