{% extends "core/base.html" %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/administracion.css' %}" />

<div class="container text-center mt-5">
  {% if messages.is_error %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %} {% if messages %}
  <div class="alert alert-success alert-dismissible" role="alert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <div class="container-sm mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/mascota_none.png'%}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <a
                href="{% url 'ingresoMascota' %}"
                class="btn btn-primary nueva_mascota"
                >Ingresar Mascota</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/adopcion.jpg'%}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <a href="{% url 'nuevaAdopcion' %}" class="btn btn-primary"
                >Adoptar Mascota</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/modmascota.png'%}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <a
                href="{% url 'editarMascota' %}"
                class="btn btn-primary modificar_mascota"
                >Editar Mascota</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Estadisticas -->

<div class="container text-center mt-5 mb-5 w-50">
  <table class="table table-bordered">
    <tr>
      <th>Caninos</th>
      <th>Felinos</th>
      <th>Adoptantes</th>
    </tr>
    <tr>
      <td>Machos: {{canMacho}}</td>
      <td>Machos: {{felMacho}}</td>
      <td>Adoptantes: {{cantAdoptantes}}</td>
    </tr>
    <tr>
      <td>Hembras: {{canHembra}}</td>
      <td>Hembras: {{felHembra}}</td>
      <td></td>
    </tr>
    <tr>
      <td class="bg-info">Mascotas Registradas: {{cantMascotas}}</td>
      <td class="bg-info">Total de adoptados: {{adoptados}}</td>
      <td></td>
    </tr>
  </table>
</div>
{% endblock %}
