{% extends 'core/base.html' %}


{% block content %}


<section class="section-1">
  <h1>Refugio de animales</h1>
  <p>Un lugar de tranquilidad y mucho amor</p>
</section>

<section class="section-2">

</section>

<section class="about" id="nosotros">
  <h2>Nosotros</h2>

  <p>Nuestro refugio nació de la profunda convicción de que cada animal merece un hogar lleno de amor y respeto.
    Impulsados por la necesidad de brindar una segunda oportunidad a aquellos que han sido abandonados o maltratados,
    nos dedicamos a rescatar, cuidar y encontrar familias responsables para nuestros peludos amigos. Creemos en la
    importancia de la tenencia responsable y trabajamos incansablemente para promover la adopción como la mejor opción
    para formar una familia. Nuestra misión es construir un mundo donde todos los animales sean valorados y protegidos.
  </p>
</section>
<section class="section-2">

</section>

<section class="about" id="mascotas">

</section>


<footer class="footer">

  <div class="linieal">
    <a href="https://api.whatsapp.com/send/?phone=543794001122" target="_blank">Telefono de contacto</a> | <a
      href="https://www.mercadopago.com.ar/" target="_blank">Donaciones</a> | <a
      href="https://maps.app.goo.gl/kq8EohrW28mXZ9f96" target="_blank">Nuestro refugio</a>
  </div>
  &copy; Patitas 2024 <br>
  <p>Piccolo Horacio - Ranalli Martín</p>
</footer>

{% endblock %}