{% extends "core/base.html" %}{% load static %} {% block content %}

<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-sm-4">
      <a href="{% url 'administracion' %}" class="btn btn-primary"><<</a>
    </div>
    <div class="col-sm-8">
      <h1>Listado de Mascotas</h1>
    </div>
  </div>
</div>
<hr />
<div class="container mt-5">
  <div class="input-group mb-4">
    <span class="input-group-text">Buscar por nombre</span>
    <input
      type="text"
      aria-label="First name"
      class="form-control me-3"
      id="input_busqueda"
    />
    <a class="btn btn-sm btn-success" id="btn_filtrar" href="#">Buscar</a>
  </div>
  <table class="table table-light table-hover table-bordered border-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Especie</th>
        <th scope="col">Raza</th>
        <th scope="col">Edad</th>
        <th scope="col">Estado</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      {% for mascota in mascotas %}
      <tr>
        <th scope="row">{{ mascota.id }}</th>
        <td>{{ mascota.nombre }}</td>
        <td>{{ mascota.especie }}</td>
        <td>{{ mascota.raza }}</td>
        <td>{{ mascota.edad }}</td>
        {% if mascota.estado %}
        <td>Disponible</td>
        {% else %}
        <td>No Disponible</td>
        {% endif %}
        <td>
          <div class="d-grid gap-2 col-6 mx-auto">
            <a
              class="btn btn-sm btn-warning"
              href="modificarMascota/{{ mascota.id }}"
              >Editar</a
            >
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
